**Daniel Flores Rodríguez - A01734184**

Módulo 5 Preprocesamiento de datos multivariados o de una serie temporal

Para empezar este analisis de variables, se comenzara por extraer la informacion de los dataframes así como extraer y armar otros dataframes de acuerdo a lo que se solicita.

In [ ]:
# Se instala los paquetes y librerias necesarias para poder realizar el analizis de la situacion problema, utilizamos matplotlib para poder graficar
# y visualisar nuestros dacumentos 
!pip install matplotlib
# se usa pandas para el manejo y vizualizacion de datos de matrices
!pip install pandas
#usada para poder leer los dataframes
!pip install pandas_datareader
# para poder visualizar datos de manera resumida.
!pip install dataprep

#importamos librerias
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np




#importamos nuestro archivo csv
from google.colab import drive
drive.mount("/content/gdrive")
%cd "/content/gdrive/Shareddrives/Reto AI SEPTIMO"

In [49]:
# importamos archivo csv de nombres de las firmas que contienen las firmas, con informacion relevante de cada una de estas.
data = pd.read_csv('us2022q2a.csv')
df1 = pd.read_csv('us2022q2a.csv',names = data.columns)
df1 # se imprime el dataset, para ver si es el correcto

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
0,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto
1,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.76167023,104,452000,NaN,2000,1
2,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,2679000,512000,0,4642000,45.2156075,73.75,452271.967,6,2000,2
3,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,2925000,528000,0,4902000,30.00323786,48.9375,453014.579,9,2000,3
4,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,3160000,830000,0,5265000,33.56684082,54.75,456366.381,12,2000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324442,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,10496.647,206.211,468.385,87699.257,5.29,5.29,41251.537,6.0,2021,2
324443,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,11309.171,207.635,411.237,78686.999,4.24,4.24,41251.537,9.0,2021,3
324444,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,10258.173,209.068,353.694,70913.334,2.88,2.88,41217.537,12.0,2021,4
324445,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,9214.059,210.512,295.754,65166.97,2.05,2.05,42447.037,3.0,2022,1
324446,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,9765.086,211.965,237.414,57241.873,1.14,1.14,43595.959,6.0,2022,2

In [50]:
# En esta seccion se lee el otro archivo csv, donde podremos obtener, el nombre de las formas, el ticker y el sector al que 
# pertenece la firma correspondiente
data = pd.read_csv('usfirms2022.csv')
df2 = pd.read_csv('usfirms2022.csv', names = data.columns)
df2 = df2[["Ticker","Name", "Sector NAICS\nlevel 1"]] #definimos las colunas que se usaran para armar el nuevo dataframe
df2 # de igual manera imprimimos el dataset

,Ticker,Name,Sector NAICS\nlevel 1
0,Ticker,Name,Sector NAICS\nlevel 1
1,FLWS,1 800 Flowers Com Inc,Retail Trade
2,TXG,"10x Genomics, Inc",Manufacturing
3,GOED,1847 Goedeker Inc,Retail Trade
4,ONEM,"1life Healthcare, Inc",Health Care and Social Assistance
...,...,...,...
3604,ZUO,"Zuora, Inc",Information
3605,ZWS,Zurn Elkay Water Solutions Corp,Manufacturing
3606,ZY,Zymergen Inc,"Professional, Scientific, and Technical Services"
3607,ZYNE,"Zynerba Pharmaceuticals, Inc",Manufacturing
3608,ZNGA,Zynga Inc,Information

In [51]:
# a traves de la función merge, juntamos estos dos datasets separados anteriormente
df = pd.merge(df1, df2, left_on='firm', right_on="Ticker")

# al tener mergeado ambos datasets, se procede a dropear filas que contengan valores nulos, y la columna de Ticker, ya que esta solo fue usada 
# .. para poder usarla de indice para mergear los datasets

#cabe mencionar que solo se realiza a las columnas más importantes del dataset
df = df.drop(columns=['Ticker'])
df = df.drop(df[df.firm.isnull()].index)
df = df.drop(df[df.revenue.isnull()].index)
df = df.drop(df[df.cogs.isnull()].index)
df = df.drop(df[df.adjprice.isnull()].index)
df #imprimimos el data set para visualizar como quedó

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,0,4642000,45.2156075,73.75,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,0,4902000,30.00323786,48.9375,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,0,5265000,33.56684082,54.75,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,0,5541000,18.84034709,30.72999954,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,0,5616000,19.92552195,32.5,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,468.385,87699.257,5.29,5.29,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,411.237,78686.999,4.24,4.24,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,353.694,70913.334,2.88,2.88,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,295.754,65166.97,2.05,2.05,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,237.414,57241.873,1.14,1.14,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing

Se calculan las nuevas columnas, a traves de la funcion assign y a traves de formulas proporcionadas en clase:

In [52]:
# Market Value = (originalprice * sharesoutstanding)
df = df.assign(market_value=lambda x: x.originalprice.astype(np.float) * x.sharesoutstanding.astype(np.float))

# Book Value of the firm = (totalassets-totalliabilities)
df = df.assign(book_value=lambda x: x.totalassets.astype(np.float) - x.totalliabilities.astype(np.float))

# Print dfF y para observar si las nuevas columnas de BookValue y MarkertValue fueron creados de manera correcta
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1,market_value,book_value
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,45.2156075,73.75,452271.967,6,2000,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,30.00323786,48.9375,453014.579,9,2000,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,33.56684082,54.75,456366.381,12,2000,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,18.84034709,30.72999954,456769.737,3,2001,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,19.92552195,32.5,457072.749,6,2001,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,5.29,5.29,41251.537,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,4.24,4.24,41251.537,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,2.88,2.88,41217.537,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,2.05,2.05,42447.037,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,1.14,1.14,43595.959,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873

In [53]:
#Agregmamos book to market ratio al dataset en donde estamos trabajando
#BookToMarketRatio = bookvalue / marketvalue
df = df.assign(BookToMarketRatio=lambda x: x.book_value.astype(np.float) / x.market_value.astype(np.float))

#ShortFinancialLeverage = shortdebt / totalassets

df = df.assign(ShortFinancialLeverage=lambda x: x.shortdebt.astype(np.float) / x.totalassets.astype(np.float) )

#LongFinancialLeverage = longdebt / totalassests

df = df.assign(LongFinancialLeverage=lambda x: x.longdebt.astype(np.float) / x.totalassets.astype(np.float) )

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # This is added back by InteractiveShellApp.init_path()

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
1,A,2000q2,2485000,1261000,1010000,0,42000,0,90000,7321000,...,6,2000,2,"Agilent Technologies, Inc",Manufacturing,3.335506e+07,4642000.000,0.139169,0.069936,0.000000
2,A,2000q3,2670000,1369000,1091000,0,28000,0,83000,7827000,...,9,2000,3,"Agilent Technologies, Inc",Manufacturing,2.216940e+07,4902000.000,0.221116,0.067459,0.000000
3,A,2000q4,3372000,1732000,1182000,0,10000,0,163000,8425000,...,12,2000,4,"Agilent Technologies, Inc",Manufacturing,2.498606e+07,5265000.000,0.210718,0.098516,0.000000
4,A,2001q1,2841000,1449000,1113000,0,-6000,0,119000,9208000,...,3,2001,1,"Agilent Technologies, Inc",Manufacturing,1.403653e+07,5541000.000,0.394756,0.060382,0.000000
5,A,2001q2,2382000,1406000,1038000,0,273000,0,115000,9080000,...,6,2001,2,"Agilent Technologies, Inc",Manufacturing,1.485486e+07,5616000.000,0.378058,0.085132,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9838.4941,0.0,-117.52822,-5.943,0.0,98195.904,...,6.0,2021,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,2.182206e+05,87699.257,0.401883,0.002100,0.004770
323812,ZYNE,2021q3,0.0,0.0,10210.652,0.0,-376.63675,-5.038,0.0,89996.17,...,9.0,2021,3,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.749065e+05,78686.999,0.449880,0.002307,0.004569
323813,ZYNE,2021q4,0.0,0.0,8836.4365,0.0,16.937906,-4.433,0.0,81171.507,...,12.0,2021,4,"Zynerba Pharmaceuticals, Inc",Manufacturing,1.187065e+05,70913.334,0.597384,0.002576,0.004357
323814,ZYNE,2022q1,0.0,0.0,8903.915,0.0,317.25211,-96.044,0.0,74381.029,...,3.0,2022,1,"Zynerba Pharmaceuticals, Inc",Manufacturing,8.701643e+04,65166.970,0.748904,0.002830,0.003976
323815,ZYNE,2022q2,0.0,0.0,9168.7695,0.0,-775.92786,-91.691,0.0,67006.959,...,6.0,2022,2,"Zynerba Pharmaceuticals, Inc",Manufacturing,4.969939e+04,57241.873,1.151762,0.003163,0.003543

In [54]:
df.columns

Index(['firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp', 'extraincome',
       'finexp', 'incometax', 'totalassets', 'totalliabilities', 'shortdebt',
       'longdebt', 'stockholderequity', 'adjprice', 'originalprice',
       'sharesoutstanding', 'fiscalmonth', 'year', 'cto', 'Name',
       'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage'],
      dtype='object')

In [55]:
#EPS = netincome / #SharesOutstanding
#netincome = revenue - cogs - sgae - otheropexp - incometax - finexp + extraincome

df = df.assign(netincome=lambda x: x.revenue.astype(np.float) - x.cogs.astype(np.float) - x.sgae.astype(np.float) - x.otheropexp.astype(np.float) - x.incometax.astype(np.float) - x.finexp.astype(np.float) + x.extraincome.astype(np.float))

df = df.assign(EPS=lambda x: x.netincome.astype(np.float) / x.sharesoutstanding.astype(np.float) )

df['EPS']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

1         0.367036
2         0.342152
3         0.668323
4         0.337150
5         0.210032
            ...
323811   -0.241205
323812   -0.256530
323813   -0.213867
323814   -0.200029
323815   -0.226007
Name: EPS, Length: 153245, dtype: float64

In [56]:
df_commercial = df[(df['Sector NAICS\nlevel 1']=='Retail Trade') | (df['Sector NAICS\nlevel 1']=='Wholesale Trade')].copy()
df_commercial

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,cto,Name,Sector NAICS\nlevel 1,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS
640,AAP,2002q3,788662,439000,278869,8248,4,16016,18170,2083203,...,3,"Advance Auto Parts, Inc",Retail Trade,1.880993e+06,456191.0,0.242527,0.005541,0.365411,28363.0,0.795252
641,AAP,2002q4,702417,389607,269884,9090,-3203,15485,6529,1965225,...,4,"Advance Auto Parts, Inc",Retail Trade,1.745366e+06,468356.0,0.268343,0.005882,0.368829,8619.0,0.241479
644,AAP,2003q3,849323,460579,306868,2522,13,5935,28268,2011249,...,3,"Advance Auto Parts, Inc",Retail Trade,2.601886e+06,597287.0,0.229559,0.012049,0.226769,45164.0,1.230695
645,AAP,2003q4,771668,404990,308684,1624,-410,4892,19796,1983071,...,4,"Advance Auto Parts, Inc",Retail Trade,3.004391e+06,631244.0,0.210107,0.026880,0.213195,31272.0,0.847274
648,AAP,2004q3,908412,486110,331055,0,-152,4531,33329,2125947,...,3,"Advance Auto Parts, Inc",Retail Trade,2.575440e+06,759748.0,0.294997,0.013421,0.149569,53235.0,0.711057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323271,ZUMZ,2021q2,279069.0,175900.0,68889.0,0.0,254.0,-975.0,9124.0,1017804.0,...,2,Zumiez Inc,Retail Trade,1.263012e+06,581781.0,0.460630,0.066253,0.234380,26385.0,1.023427
323272,ZUMZ,2021q3,268666.0,163701.0,73011.0,0.0,-151.0,-965.0,8770.0,1030742.0,...,3,Zumiez Inc,Retail Trade,1.000538e+06,594296.0,0.593977,0.063880,0.216391,23998.0,0.953648
323273,ZUMZ,2021q4,289455.0,174791.0,74822.0,0.0,468.0,-893.0,10501.0,978189.0,...,4,Zumiez Inc,Retail Trade,1.102706e+06,531742.0,0.482215,0.065825,0.225441,30702.0,1.336157
323274,ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,...,1,Zumiez Inc,Retail Trade,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652
323275,ZUMZ,2022q2,220686.0,148312.0,71877.0,0.0,172.0,-492.0,1558.0,768114.0,...,2,Zumiez Inc,Retail Trade,5.059484e+05,376897.0,0.744932,0.090256,0.270732,-397.0,-0.020401

In [57]:
df_commercial.groupby('Sector NAICS\nlevel 1')['firm'].nunique()

Sector NAICS\nlevel 1
Retail Trade       152
Wholesale Trade     79
Name: firm, dtype: int64

In [58]:
df_commercial.columns

Index(['firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp', 'extraincome',
       'finexp', 'incometax', 'totalassets', 'totalliabilities', 'shortdebt',
       'longdebt', 'stockholderequity', 'adjprice', 'originalprice',
       'sharesoutstanding', 'fiscalmonth', 'year', 'cto', 'Name',
       'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage',
       'netincome', 'EPS'],
      dtype='object')

In [59]:
#Se procede a agrupar el dataset generado de acuerdo a la firma y de acuerdo a su periodo , es decir los quarters
df_commercial.set_index(['firm','q'], inplace=True)

In [60]:
#En esta parte se procede a realizar el multiindex del dataset para poder realizar el shift correspondiente
df_commercial

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ... cto  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...   3
     2002q4      6529     1965225          1496869     11559  ...   4
     2003q3     28268     2011249          1413962     24233  ...   3
     2003q4     19796     1983071          1351827     53305  ...   4
     2004q3     33329     2125947          1366199     28533  ...   3
...               ...         ...              ...       ...  ...  ..
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...   2
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...   3
     2021q4   10501.0    978189.0         446447.0   64389.0  ...   4
     2022q1   12828.0    862012.0         393694.0   63577.0  ...   1
     2022q2    1558.0    768114.0         391217.0   69327.0  ...   2

                                Name Sector NAICS\nlevel 1  market_value  \
firm q
AAP  2002q3  Advance Auto Parts, Inc          Retail Trade  1.880993e+06
     2002q4  Advance Auto Parts, Inc          Retail Trade  1.745366e+06
     2003q3  Advance Auto Parts, Inc          Retail Trade  2.601886e+06
     2003q4  Advance Auto Parts, Inc          Retail Trade  3.004391e+06
     2004q3  Advance Auto Parts, Inc          Retail Trade  2.575440e+06
...                              ...                   ...           ...
ZUMZ 2021q2               Zumiez Inc          Retail Trade  1.263012e+06
     2021q3               Zumiez Inc          Retail Trade  1.000538e+06
     2021q4               Zumiez Inc          Retail Trade  1.102706e+06
     2022q1               Zumiez Inc          Retail Trade  7.612303e+05
     2022q2               Zumiez Inc          Retail Trade  5.059484e+05

            book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3   456191.0          0.242527               0.005541
     2002q4   468356.0          0.268343               0.005882
     2003q3   597287.0          0.229559               0.012049
     2003q4   631244.0          0.210107               0.026880
     2004q3   759748.0          0.294997               0.013421
...                ...               ...                    ...
ZUMZ 2021q2   581781.0          0.460630               0.066253
     2021q3   594296.0          0.593977               0.063880
     2021q4   531742.0          0.482215               0.065825
     2022q1   468318.0          0.615212               0.073754
     2022q2   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS
firm q
AAP  2002q3              0.365411   28363.0  0.795252
     2002q4              0.368829    8619.0  0.241479
     2003q3              0.226769   45164.0  1.230695
     2003q4              0.213195   31272.0  0.847274
     2004q3              0.149569   53235.0  0.711057
...                           ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427
     2021q3              0.216391   23998.0  0.953648
     2021q4              0.225441   30702.0  1.336157
     2022q1              0.237014   38204.0  1.917652
     2022q2              0.270732    -397.0 -0.020401

[11370 rows x 27 columns]

In [61]:
#EPSP = EPS \ originalprice
df_commercial = df_commercial.assign(EPSP=lambda x: x.EPS.astype(np.float) / x.originalprice.astype(np.float) )

df_commercial

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ...  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...
     2002q4      6529     1965225          1496869     11559  ...
     2003q3     28268     2011249          1413962     24233  ...
     2003q4     19796     1983071          1351827     53305  ...
     2004q3     33329     2125947          1366199     28533  ...
...               ...         ...              ...       ...  ...
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...
     2021q4   10501.0    978189.0         446447.0   64389.0  ...
     2022q1   12828.0    862012.0         393694.0   63577.0  ...
     2022q2    1558.0    768114.0         391217.0   69327.0  ...

                                Name Sector NAICS\nlevel 1  market_value  \
firm q
AAP  2002q3  Advance Auto Parts, Inc          Retail Trade  1.880993e+06
     2002q4  Advance Auto Parts, Inc          Retail Trade  1.745366e+06
     2003q3  Advance Auto Parts, Inc          Retail Trade  2.601886e+06
     2003q4  Advance Auto Parts, Inc          Retail Trade  3.004391e+06
     2004q3  Advance Auto Parts, Inc          Retail Trade  2.575440e+06
...                              ...                   ...           ...
ZUMZ 2021q2               Zumiez Inc          Retail Trade  1.263012e+06
     2021q3               Zumiez Inc          Retail Trade  1.000538e+06
     2021q4               Zumiez Inc          Retail Trade  1.102706e+06
     2022q1               Zumiez Inc          Retail Trade  7.612303e+05
     2022q2               Zumiez Inc          Retail Trade  5.059484e+05

            book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3   456191.0          0.242527               0.005541
     2002q4   468356.0          0.268343               0.005882
     2003q3   597287.0          0.229559               0.012049
     2003q4   631244.0          0.210107               0.026880
     2004q3   759748.0          0.294997               0.013421
...                ...               ...                    ...
ZUMZ 2021q2   581781.0          0.460630               0.066253
     2021q3   594296.0          0.593977               0.063880
     2021q4   531742.0          0.482215               0.065825
     2022q1   468318.0          0.615212               0.073754
     2022q2   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS      EPSP
firm q
AAP  2002q3              0.365411   28363.0  0.795252  0.015079
     2002q4              0.368829    8619.0  0.241479  0.004938
     2003q3              0.226769   45164.0  1.230695  0.017358
     2003q4              0.213195   31272.0  0.847274  0.010409
     2004q3              0.149569   53235.0  0.711057  0.020670
...                           ...       ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427  0.020891
     2021q3              0.216391   23998.0  0.953648  0.023985
     2021q4              0.225441   30702.0  1.336157  0.027842
     2022q1              0.237014   38204.0  1.917652  0.050187
     2022q2              0.270732    -397.0 -0.020401 -0.000785

[11370 rows x 28 columns]

In [62]:
df_commercial['R'] = np.log(df_commercial['adjprice'].astype(np.float)) - np.log(df_commercial.groupby(['firm'])['adjprice'].shift(4).astype(np.float))
df_commercial['R']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

firm  q
AAP   2002q3         NaN
      2002q4         NaN
      2003q3         NaN
      2003q4         NaN
      2004q3    0.265830
                  ...
ZUMZ  2021q2    0.581803
      2021q3    0.357106
      2021q4    0.266038
      2022q1   -0.115775
      2022q2   -0.633520
Name: R, Length: 11370, dtype: float64

In [63]:
df_commercial['RNQ'] = df_commercial.groupby(['firm'])['R'].shift(-1)

In [64]:
df_commercial['RNQ']

firm  q
AAP   2002q3         NaN
      2002q4         NaN
      2003q3         NaN
      2003q4    0.265830
      2004q3    0.864158
                  ...
ZUMZ  2021q2    0.357106
      2021q3    0.266038
      2021q4   -0.115775
      2022q1   -0.633520
      2022q2         NaN
Name: RNQ, Length: 11370, dtype: float64

In [65]:
df_commercial

              revenue      cogs     sgae otheropexp extraincome finexp  \
firm q
AAP  2002q3    788662    439000   278869       8248           4  16016
     2002q4    702417    389607   269884       9090       -3203  15485
     2003q3    849323    460579   306868       2522          13   5935
     2003q4    771668    404990   308684       1624        -410   4892
     2004q3    908412    486110   331055          0        -152   4531
...               ...       ...      ...        ...         ...    ...
ZUMZ 2021q2  279069.0  175900.0  68889.0        0.0       254.0 -975.0
     2021q3  268666.0  163701.0  73011.0        0.0      -151.0 -965.0
     2021q4  289455.0  174791.0  74822.0        0.0       468.0 -893.0
     2022q1  346677.0  212744.0  82198.0        0.0     -1462.0 -759.0
     2022q2  220686.0  148312.0  71877.0        0.0       172.0 -492.0

            incometax totalassets totalliabilities shortdebt  ...  \
firm q                                                        ...
AAP  2002q3     18170     2083203          1627012     11542  ...
     2002q4      6529     1965225          1496869     11559  ...
     2003q3     28268     2011249          1413962     24233  ...
     2003q4     19796     1983071          1351827     53305  ...
     2004q3     33329     2125947          1366199     28533  ...
...               ...         ...              ...       ...  ...
ZUMZ 2021q2    9124.0   1017804.0         436023.0   67433.0  ...
     2021q3    8770.0   1030742.0         436446.0   65844.0  ...
     2021q4   10501.0    978189.0         446447.0   64389.0  ...
     2022q1   12828.0    862012.0         393694.0   63577.0  ...
     2022q2    1558.0    768114.0         391217.0   69327.0  ...

             market_value book_value BookToMarketRatio ShortFinancialLeverage  \
firm q
AAP  2002q3  1.880993e+06   456191.0          0.242527               0.005541
     2002q4  1.745366e+06   468356.0          0.268343               0.005882
     2003q3  2.601886e+06   597287.0          0.229559               0.012049
     2003q4  3.004391e+06   631244.0          0.210107               0.026880
     2004q3  2.575440e+06   759748.0          0.294997               0.013421
...                   ...        ...               ...                    ...
ZUMZ 2021q2  1.263012e+06   581781.0          0.460630               0.066253
     2021q3  1.000538e+06   594296.0          0.593977               0.063880
     2021q4  1.102706e+06   531742.0          0.482215               0.065825
     2022q1  7.612303e+05   468318.0          0.615212               0.073754
     2022q2  5.059484e+05   376897.0          0.744932               0.090256

            LongFinancialLeverage netincome       EPS      EPSP         R  \
firm q
AAP  2002q3              0.365411   28363.0  0.795252  0.015079       NaN
     2002q4              0.368829    8619.0  0.241479  0.004938       NaN
     2003q3              0.226769   45164.0  1.230695  0.017358       NaN
     2003q4              0.213195   31272.0  0.847274  0.010409       NaN
     2004q3              0.149569   53235.0  0.711057  0.020670  0.265830
...                           ...       ...       ...       ...       ...
ZUMZ 2021q2              0.234380   26385.0  1.023427  0.020891  0.581803
     2021q3              0.216391   23998.0  0.953648  0.023985  0.357106
     2021q4              0.225441   30702.0  1.336157  0.027842  0.266038
     2022q1              0.237014   38204.0  1.917652  0.050187 -0.115775
     2022q2              0.270732    -397.0 -0.020401 -0.000785 -0.633520

                  RNQ
firm q
AAP  2002q3       NaN
     2002q4       NaN
     2003q3       NaN
     2003q4  0.265830
     2004q3  0.864158
...               ...
ZUMZ 2021q2  0.357106
     2021q3  0.266038
     2021q4 -0.115775
     2022q1 -0.633520
     2022q2       NaN

[11370 rows x 30 columns]

Debido a que de momento solo buscamos realizar este analizis de las variables, solo vamos a necesitar unos cuantos datos, por lo tanto se realizará la separacion de la información del ultimo quarter del resto de la información.

Para ser mas especificos solo se tomará en cuenta el penultimo quarter del ultimo año, es decir "2022q1"

In [66]:
#En esta parte se realiza el filtro para solamente dejar el penultimo periodo, en este caso el primer cuarto del año 2022
a_threshold = '2022q1'
df_commercial = df_commercial.query('q == @a_threshold')

In [67]:
#Realizamos comprobación de lo realizado, imprimiendo el dataset
df_commercial

,,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,...,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ
firm,q,,,,,,,,,,,,,,,,,,,,,
ABC,2022q1,57719448,55484368,1378528,76395,-6283,52916,172944,57308153,56402088,1809660,...,3.235565e+07,906065.0,0.028003,0.031578,0.081083,548014.0,2.620354,0.016937,0.284559,0.225304
ABG,2022q1,3911800,3119800,473900,-2700,33100,40200,76000,7860100,5677600,487400,...,3.714688e+06,2182500.0,0.587532,0.062009,0.454702,237700.0,10.251073,0.063989,-0.204239,-0.011916
ACI,2022q1,17383500,12399200,4321700,-1700,47500,108000,148700,28123000,25098400,1469400,...,1.606368e+07,3024600.0,0.188288,0.052249,0.446474,455100.0,0.942006,0.028331,0.661405,NaN
AE,2022q1,774245,0,766097,0,0,90,1968,470117,304596,5551,...,1.681192e+05,165521.0,0.984546,0.011808,0.028393,6090.0,1.394274,0.036224,0.350570,0.181133
AEO,2022q1,1507937,1019252,396787,11944,-3865,8594,17067,3786643,2362971,311005,...,2.836553e+06,1423672.0,0.501902,0.082132,0.394936,50428.0,0.298669,0.017778,-0.520678,-1.181960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,2022q1,2501029.0,1375792.0,600665.0,0.0,0.0,-89.0,121720.0,4625620.0,2961413.0,217409.0,...,1.037604e+07,1664207.0,0.160389,0.047001,0.230637,402941.0,5.630902,0.038834,-0.195987,-0.346125
WSO,2022q1,1523570.0,1073212.0,283354.0,-4045.0,-21592.0,558.0,35601.0,3473889.0,1393174.0,86812.0,...,1.181179e+07,2080715.0,0.176156,0.024990,0.137683,113298.0,2.922088,0.009592,0.182851,-0.154603
WSTG,2022q1,71319.0,59338.0,8606.0,0.0,143.0,10.0,796.0,188770.0,134861.0,498.0,...,1.537496e+05,53909.0,0.350628,0.002638,0.009027,2712.0,0.609430,0.017639,0.341710,0.304832
ZEUS,2022q1,696333.0,555107.0,88104.0,0.0,-6.0,1998.0,13816.0,1043703.0,580917.0,5801.0,...,4.278175e+05,462786.0,1.081737,0.005558,0.318032,37302.0,3.353381,0.087191,0.272373,-0.124839
ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,393694.0,63577.0,...,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652,0.050187,-0.115775,-0.633520

#**Realiza un análisis exploratorio de las variables:**

Calcula matriz de varianza y covarianza, así como matriz de correlación de las variables independientes y la dependiente. Explicar qué es la varianza, covarianza y correlación. Interpreta la matriz de correlación. Tiene que utilizar álgebra matricial y corroborar resultados con funciones de Python.

In [68]:
#creamos una nueva matriz para poder calcular la matriz de varianza covarianza y limpiamos los datos de valores NaN.

matrixOriginal = df_commercial[['EPSP','BookToMarketRatio','ShortFinancialLeverage','LongFinancialLeverage']]
matOriginal = matrixOriginal.dropna()
matOriginal

,,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
firm,q,,,,
ABC,2022q1,0.016937,0.028003,0.031578,0.081083
ABG,2022q1,0.063989,0.587532,0.062009,0.454702
ACI,2022q1,0.028331,0.188288,0.052249,0.446474
AE,2022q1,0.036224,0.984546,0.011808,0.028393
AEO,2022q1,0.017778,0.501902,0.082132,0.394936
...,...,...,...,...,...
WSM,2022q1,0.038834,0.160389,0.047001,0.230637
WSO,2022q1,0.009592,0.176156,0.024990,0.137683
WSTG,2022q1,0.017639,0.350628,0.002638,0.009027
ZEUS,2022q1,0.087191,1.081737,0.005558,0.318032
ZUMZ,2022q1,0.050187,0.615212,0.073754,0.237014

In [69]:
#se realiza el cálculo de la matriz de varianza-covarianza con algebra matricial.
# usaremos una formula para poder calcular la matriz, por lo que se caluclaran las variables a usar.

X = matrixOriginal
n = X.count()['EPSP']
X_trans = X.T

shape = X.shape

M_x = X_trans.dot(np.ones((shape[0],1)))


varCov = (1/(n-1)) * (X_trans.dot(X) - (1/n) * (M_x.dot(M_x.T)))

varCov

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,0.010760,-0.002341,-0.001401,-0.000789
BookToMarketRatio,-0.002341,0.178927,0.000294,-0.038288
ShortFinancialLeverage,-0.001401,0.000294,0.005086,0.003690
LongFinancialLeverage,-0.000789,-0.038288,0.003690,0.130439

In [70]:
# calculamos la matriz con funciones de numpy para poder comprovar el resultado de la variable
X.cov()

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,0.010760,-0.002341,-0.001401,-0.000789
BookToMarketRatio,-0.002341,0.178927,0.000294,-0.038288
ShortFinancialLeverage,-0.001401,0.000294,0.005086,0.003690
LongFinancialLeverage,-0.000789,-0.038288,0.003690,0.130439

- ¿Que es la Varianza?
Podemos decir que la varianza es una medida de dispersion que se usa en estadistica y otras ciencias para poder representar la variabilidad de un conjunto de datos respecto de la media de estos mismos. Es por esto mismo que se calcula como la suma de los residuos elevados al cuadrado entre el total de observaciones ( el número de datos en el dataset o tabla).

- ¿Qué es la covarianza?
Podemos decir que es un valor en el cual se refleja en que cuantía o varian dos variables aleatorias varían de forma conjunta de acuerdo a sus medias, basicamente nos permite saber como se comporta una variable respecto al comportamiento de otra.

In [71]:
#calculamos la correlacion del las variables con algebra matricial

matrix_std = np.matrix(X.std())
corr_matrix = varCov / (matrix_std.T * matrix_std)
corr_matrix

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,1.000000,-0.053352,-0.189421,-0.021054
BookToMarketRatio,-0.053352,1.000000,0.009743,-0.250625
ShortFinancialLeverage,-0.189421,0.009743,1.000000,0.143269
LongFinancialLeverage,-0.021054,-0.250625,0.143269,1.000000

In [72]:
#calculamos la correlación.
X.corr()

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage
EPSP,1.000000,-0.053352,-0.189421,-0.021054
BookToMarketRatio,-0.053352,1.000000,0.009743,-0.250625
ShortFinancialLeverage,-0.189421,0.009743,1.000000,0.143269
LongFinancialLeverage,-0.021054,-0.250625,0.143269,1.000000

- **¿Qué es la correlación?**

Es una medida que nos dice el tipo de asociación entre dos variables numericas, espcificamente evalúa si la tendencia de los datos, es decir, si la relacion tiene un crecimiento creciante o decreciente.

**Interpretando la matriz de correlacion**

La manera de leer la matriz de correlaciones es comprender que la diagonal representa aquellos valores que son exactos (1), esto tiene sentido, pues como se observa, cada variable de columna y fila son correspondientes, es decir, son las mismas variables relacionandoce entre sí, esto logicamente dara un valor perfecto de correlación entre esas variables. Por otro lado, los otros valores arriba de los valores de la diagonal representan aquellos valores que se relacionan con otras variables distintas.

De manera resumida y rápida podemos decir que al tener un valor positivo > 0 quiere decir que estas tienen una relacion positiva entre una y otra de manera creciente, entre más cercano sea el valor a 1, podemos decir que estas variables forman una relacion fuerte, y entre mas cercano sea el valor a 0, podemos decir que estas tienen una relacion baja. Del mismo modo, pasa con valores negativos, solo que en vez de tener un valor positivo creciente, estas tendran un valor negativo decreciente. 


Con esto podemos interpretar nuestra matriz de correlaciones:

- Podemos observar que la variable de EPSP no tiene una correlacion alta con ninguna de las otras variables, ademas de que todas estos valores son negativos, lo que quiere decir que tiene un valor de pendiente bajo decreciente.
- Para la variable de book to market ratio, podemos observar que tiene una correlacion positiva con la variable short financial leverage, sin embargo esta tiene un valor de 0, lo que dice que la relacion es nula, sin embargo tambien vemos una correlación con la variable de long financial laverage, con un valor negativo de -0.2, siendo este el valor más grande (negativo) de todos los demás resultados.
- De igual manera la variable short financial leverage cuenta con una correlación positiva de de 0.1 con long financial leverage.

Podemos concluir que las dos correlaciones de variables más fuertes son las de las variables de ShortFinancialLeverage-EPSP, LongFinancialLeverage-BookToMarketRatio y  ShortFinancialLeverage-LongFinancialLeverage

1.2 Corre pruebas estadísticas para detectar outliers y leverage points. Tiene que utilizar álgebra matricial para las pruebas y explicar claramente cómo funcionan las pruebas. Puede utilizar funciones de Python para corroborar resultados.

#**Cálculo de Leverages y Outliers**

Para la primer prueba que haremos para detectar o identidicar leverages será usar este metodo usando algebra matricial, con lo que podremos tomar la diagonal de la matriz obtenida, para asi poder calcular cuales son aquellos puntos más extremos en el eje x.

Basicamente podemos decir que todo parte de la fórmula para poder calcular las predicciones, es decir y hat, la cual podemos despejar de tal manera que nos quede una formula con los cálculos de los coeficientes estimaos representados con algebra matricial de manera que nos queda: 

y_hat= H*y

In [73]:
# seleccionamos las variables con las que vamos a trabajar para calcular los laverage points
df_leverage_inicial = matOriginal[['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']]
df_leverage_inicial = df_leverage_inicial.dropna().reset_index(drop="True")
x = np.matrix(df_leverage_inicial)

# realizamos una matriz de ones
x_ones = np.ones((df_leverage_inicial.count()['EPSP'], 1))

#concatenamos la matriz con la matriz de ones
x = np.c_[x_ones, x]

# aplicamos la formula para obtener H, es decir, los leverage de cada punto de cada variable
h = x * np.linalg.inv(x.T * x) * x.T

#Finalmente creamos un dataframe con la diagonal de la matriz caculada el leverage h_ii.
df_leverage = pd.DataFrame(data = {'Leverage': np.diag(h)})

#lo concatenamos con la matriz calculada al inicio
df_leverage = pd.concat([df_leverage_inicial, df_leverage], axis=1, join = "inner")


#identificamos cuales valores son los mas extremos y los mostramos
thrh = 3 * (len(['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']) + 1) / n
df_leverage[df_leverage['Leverage'] > thrh]

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,Leverage
52,-0.012599,0.002520,0.390771,0.495715,0.109552
55,-0.297112,-0.515181,0.245941,0.168998,0.098372
66,0.006202,-0.286263,0.055564,3.097009,0.268691
72,0.043602,1.977040,0.040343,0.365904,0.067080
85,-0.225033,2.777692,0.051330,0.049725,0.154423
114,-0.000137,0.693041,0.374621,0.131757,0.100990
118,-0.321029,0.402530,0.227390,0.127758,0.066907
122,0.101949,0.780155,0.323371,0.184720,0.083521
132,-0.407474,0.206991,0.026470,0.422866,0.082932
163,-0.797105,0.202897,0.068143,0.626674,0.280756
209,-0.851169,1.667919,0.306272,0.297752,0.345269
217,0.012489,-0.083368,0.277168,3.968653,0.471541
219,-0.110929,1.941196,0.000000,0.723942,0.086787

Podemos observar en la grafica anteior que realmente se obtienen pocos valores extremos haciendo uso de los leverages, con un total de 13 valores extremos en el valor de x.

In [74]:
#volvemos a limpiar nuestro data frame de valores NaN
df_commercial = df_commercial.dropna()
df_commercial

,,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,totalliabilities,shortdebt,...,market_value,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ
firm,q,,,,,,,,,,,,,,,,,,,,,
ABC,2022q1,57719448,55484368,1378528,76395,-6283,52916,172944,57308153,56402088,1809660,...,3.235565e+07,906065.0,0.028003,0.031578,0.081083,548014.0,2.620354,0.016937,0.284559,0.225304
ABG,2022q1,3911800,3119800,473900,-2700,33100,40200,76000,7860100,5677600,487400,...,3.714688e+06,2182500.0,0.587532,0.062009,0.454702,237700.0,10.251073,0.063989,-0.204239,-0.011916
AE,2022q1,774245,0,766097,0,0,90,1968,470117,304596,5551,...,1.681192e+05,165521.0,0.984546,0.011808,0.028393,6090.0,1.394274,0.036224,0.350570,0.181133
AEO,2022q1,1507937,1019252,396787,11944,-3865,8594,17067,3786643,2362971,311005,...,2.836553e+06,1423672.0,0.501902,0.082132,0.394936,50428.0,0.298669,0.017778,-0.520678,-1.181960
AEY,2022q1,23759,18001,6921,2,-168,61,0,23872,15536,1894,...,1.811049e+04,8336.0,0.460286,0.079340,0.127011,-1394.0,-0.106991,-0.076972,-0.626208,-0.732063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,2022q1,2501029.0,1375792.0,600665.0,0.0,0.0,-89.0,121720.0,4625620.0,2961413.0,217409.0,...,1.037604e+07,1664207.0,0.160389,0.047001,0.230637,402941.0,5.630902,0.038834,-0.195987,-0.346125
WSO,2022q1,1523570.0,1073212.0,283354.0,-4045.0,-21592.0,558.0,35601.0,3473889.0,1393174.0,86812.0,...,1.181179e+07,2080715.0,0.176156,0.024990,0.137683,113298.0,2.922088,0.009592,0.182851,-0.154603
WSTG,2022q1,71319.0,59338.0,8606.0,0.0,143.0,10.0,796.0,188770.0,134861.0,498.0,...,1.537496e+05,53909.0,0.350628,0.002638,0.009027,2712.0,0.609430,0.017639,0.341710,0.304832
ZEUS,2022q1,696333.0,555107.0,88104.0,0.0,-6.0,1998.0,13816.0,1043703.0,580917.0,5801.0,...,4.278175e+05,462786.0,1.081737,0.005558,0.318032,37302.0,3.353381,0.087191,0.272373,-0.124839
ZUMZ,2022q1,346677.0,212744.0,82198.0,0.0,-1462.0,-759.0,12828.0,862012.0,393694.0,63577.0,...,7.612303e+05,468318.0,0.615212,0.073754,0.237014,38204.0,1.917652,0.050187,-0.115775,-0.633520

Aquí se usará el metodo de los residuales, con lo cual lo que queremos hacer es detectar aquellos valores que tienen un valor atípico en el resultado de los valores observados y que pueden afectar al momento de la realizacion de algun modelo. Ahora bien, para poder representar estos valores en el eje y, debemos realizar una regresion lineal, para posteriormente poder calcular los outliers con el método mencionado anteriormente.

In [75]:
import statsmodels.api as sm

In [76]:
#Dividimos las variables en independientes y dependientes para la realizacion del modelo de predicción.
var_dep = ['R']
var_ind = ['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']

#realizamos un modelo de prediccion lineal, con las variables dependientes e independientes
modelo = sm.OLS(df_commercial[var_dep], sm.add_constant(df_commercial[var_ind])).fit()

#obtenemos la infuencia de este modelo
influence = modelo.get_influence()

# calculamos nuestros valores de leverage y tomamos los resultados de la diagonal, es decir los h_ii.
lev = influence.hat_matrix_diag

#creamos el dataframe de leverage y lo concatenamos a la matris de df_commercial
smodel_leverage = pd.DataFrame(data={'Leverage':lev})

smodel_leverage = pd.concat([df_commercial[var_ind].reset_index(drop="True"), smodel_leverage], axis = 1, join ="inner")

smodel_leverage[smodel_leverage['Leverage'] > thrh] # solo mostramos aquellos que son valores extremadamente altos.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,EPSP,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,Leverage
48,-0.012599,0.002520,0.390771,0.495715,0.117908
59,0.006202,-0.286263,0.055564,3.097009,0.280862
64,0.043602,1.977040,0.040343,0.365904,0.073528
75,-0.225033,2.777692,0.051330,0.049725,0.164328
95,0.122724,-0.761072,0.138555,0.190324,0.068176
98,-0.000137,0.693041,0.374621,0.131757,0.105788
101,-0.321029,0.402530,0.227390,0.127758,0.074939
105,0.101949,0.780155,0.323371,0.184720,0.085990
114,-0.407474,0.206991,0.026470,0.422866,0.089911
144,-0.797105,0.202897,0.068143,0.626674,0.300856
186,-0.851169,1.667919,0.306272,0.297752,0.364343
192,0.012489,-0.083368,0.277168,3.968653,0.491759
194,-0.110929,1.941196,0.000000,0.723942,0.092704

En la tabla de arriba podemos observar pocos valores extremos del modelo, en total 13, estos valores, como se menciona anteriormente, se debe a que el valor rebasa 3 veces la media de los leverage.

In [77]:
print(modelo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.325
Model:                            OLS   Adj. R-squared:                  0.311
Method:                 Least Squares   F-statistic:                     23.71
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           5.09e-16
Time:                        20:30:28   Log-Likelihood:                -133.90
No. Observations:                 202   AIC:                             277.8
Df Residuals:                     197   BIC:                             294.4
Df Model:                           4
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     -0.0411      0.068     -0.600      0.549      -0.176       0.094
EPSP                       2.7797      0.319      8.706      0.000       2.150       3.409
BookToMarketRatio         -0.1597      0.081     -1.965      0.051      -0.320       0.001
ShortFinancialLeverage    -0.7931      0.469     -1.691      0.092      -1.718       0.132
LongFinancialLeverage      0.0443      0.093      0.474      0.636      -0.140       0.229
==============================================================================
Omnibus:                       28.487   Durbin-Watson:                   2.237
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               49.823
Skew:                          -0.739   Prob(JB):                     1.52e-11
Kurtosis:                       4.933   Cond. No.                         16.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
#Realizamos una prediccion con el modelo que acabamos de declara en la seccion de arriba 
prediccions = modelo.predict(sm.add_constant(df_commercial[var_ind]))

#calulamos los errores de los valores reales y observados
errores = np.matrix(df_commercial[var_dep]).T - np.matrix(prediccions)

#Obtenemos el MSE para completar la formula de los residuales
mse = np.square(errores).sum() / (df_commercial[var_ind].count()['EPSP'] - (len(var_ind) + 1))

#obtenemos la raiz del mse para completar la formula 
squared_error = np.sqrt(mse * (1 - lev))

# aplicamos la formula de los residuales standar.
std_residuals = pd.DataFrame((errores / squared_error).T)
std_residuals.columns = ['std_residuals'] #creamos una columna en donde se colocaran los std_residuals
std_residuals = pd.concat([df_commercial['R'].reset_index(drop="True"), std_residuals], axis = 1)
std_residuals = std_residuals.dropna()
std_residuals[std_residuals['std_residuals'] > 3]

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

            R  std_residuals
144 -0.849418       3.687943

Observamos que solo tenemos un valor atipico en el eje y, teniendo un valor de casi 3.7, en esa observación, lo que nos dice que la prediccion del modelo solo tiene 1 outlier

La manera en que podemos comprobar a traves de python es con ayuda del uso de summary_frame() , haciendo un filtro en la columna hat_diag para que aparezcan a quellos valores que sean 3 veces más grandes que la media general, podemos observar que tiene los mismos resultados que las tablas calculadas arriba, asi mismo con el metodo de standarized residuals.

In [79]:
influence_sum1 = influence.summary_frame()
influence_sum1[influence_sum1['hat_diag'] > thrh]

,,dfb_const,dfb_EPSP,dfb_BookToMarketRatio,dfb_ShortFinancialLeverage,dfb_LongFinancialLeverage,cooks_d,standard_resid,hat_diag,dffits_internal,student_resid,dffits
firm,q,,,,,,,,,,,
CVNA,2022q1,0.024331,-0.032548,0.098575,-0.329251,0.040295,0.024086,-0.949194,0.117908,-0.347032,-0.948954,-0.346945
DPZ,2022q1,0.073445,-0.002602,-0.003370,0.032836,-0.216776,0.010209,-0.361530,0.280862,-0.225936,-0.360731,-0.225436
EZPW,2022q1,-0.139669,0.047195,0.263604,-0.033107,0.076145,0.015104,0.975477,0.073528,0.274806,0.975357,0.274772
GNLN,2022q1,0.477806,0.341145,-1.020387,0.139516,-0.113298,0.251789,-2.530267,0.164328,-1.122028,-2.565875,-1.137818
JAN,2022q1,-0.430583,-0.193109,0.600803,-0.300547,0.254696,0.100178,-2.616508,0.068176,-0.707734,-2.656424,-0.718531
KAR,2022q1,-0.089656,0.069102,0.005818,0.465611,-0.116204,0.046242,1.397990,0.105788,0.480842,1.401406,0.482017
KSPN,2022q1,-0.001846,0.007123,0.002040,-0.005044,0.002804,0.000020,-0.035021,0.074939,-0.009968,-0.034933,-0.009943
LAZY,2022q1,-0.042112,0.064002,0.018347,0.159494,-0.031788,0.005946,0.562123,0.085990,0.172417,0.561144,0.172117
MDVL,2022q1,-0.381222,0.989055,0.230619,0.258823,-0.001385,0.204536,-3.217400,0.089911,-1.011276,-3.297016,-1.036301
RAD,2022q1,0.537269,-2.462807,-0.383889,-0.367550,0.114712,1.170550,3.687943,0.300856,2.419246,3.812534,2.500976
VRM,2022q1,-0.057149,-0.373970,0.094010,0.102033,-0.008736,0.037993,0.575696,0.364343,0.435849,0.574716,0.435108
WINA,2022q1,-0.353219,0.053047,0.071798,0.112789,0.652076,0.097185,0.708671,0.491759,0.697085,0.707773,0.696201
WLFC,2022q1,-0.108944,-0.046650,0.200876,-0.074943,0.110985,0.010668,0.722520,0.092704,0.230954,0.721640,0.230673

In [80]:
influence_sum2 = influence.summary_frame()
influence_sum1[influence_sum1['standard_resid'] > 3]

,,dfb_const,dfb_EPSP,dfb_BookToMarketRatio,dfb_ShortFinancialLeverage,dfb_LongFinancialLeverage,cooks_d,standard_resid,hat_diag,dffits_internal,student_resid,dffits
firm,q,,,,,,,,,,,
RAD,2022q1,0.537269,-2.462807,-0.383889,-0.36755,0.114712,1.17055,3.687943,0.300856,2.419246,3.812534,2.500976

#**Analsis de Multicolinearidad**

Obtenemos los VIF, para poder determinar los Variance Inflation Factors, de esta forma nosotros obtendremos alguna idea de que tan independientes son las variables independientes, y así poder saber que tanto afecta esto en el modelo realizado, es por eso que a continuacion se calcularán de manera que podemos observar los resultados y analizarlas.

In [81]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [82]:
multicol_df = pd.DataFrame()

var_df = pd.concat([df_commercial[var_dep].reset_index(drop="True"), df_commercial[var_ind].reset_index(drop="True")], axis = 1)

multicol_df['variable'] = var_df.columns
multicol_df['valor'] = [vif(var_df.values, i) for i in range(len(var_df.columns))]
multicol_df

                 variable     valor
0                       R  1.561750
1                    EPSP  1.405201
2       BookToMarketRatio  1.435592
3  ShortFinancialLeverage  1.615324
4   LongFinancialLeverage  1.386283

Para nuestro caso, podemos observar que no hay valores que difieran mucho de valores, ya que todos se mantienen entre 1 a 1.6 aproximadamente, lo que quiere decir que en este caso particular no se encuentran valores que rebasen valores como 5, el cual es un valor establecido para poder analizar si estaas variables tienen un problema de colinearidad.

#**Propone e implementa soluciones a los problemas de los puntos anteriores para que el modelo sea el más adecuado.**

Debido a que los puntos anteriores tratan de los outliers y leverages, asi como problemas que representa la multicolinearidad, uno de las soluciones que podemos aplicar sería poder quitar puntos de atipicos de nuestro modelo, como lo son aquellos obtenidos el la parte 1.2, donde se calcula a traves de leverage y std_residuals, observaciones que podrían estar afectando al modelo como tal, a continuacion se realizará el procedimiento.

In [83]:
# para empezar, quitaremos esas observaciones vistas, para poder ver si nuestro R2 mejora de alguna manera.

# df_commercial.drop(['CVNA','EZPW','GNLN','JAN','KAR','KSPN','LAZY','MDVL','RAD','VRM','WINA','WLFC'],level=0, axis=0, inplace=True)
df_commercial.drop(['RAD'],level=0, axis=0, inplace=True)


#Dividimos las variables en independientes y dependientes para la realizacion del modelo de predicción.
var_dep = ['R']
var_ind = ['EPSP', 'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage']

#realizamos un modelo de prediccion lineal, con las variables dependientes e independientes
modelo_after_drop = sm.OLS(df_commercial[var_dep], sm.add_constant(df_commercial[var_ind])).fit()

print(modelo_after_drop.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.367
Model:                            OLS   Adj. R-squared:                  0.354
Method:                 Least Squares   F-statistic:                     28.37
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           1.34e-18
Time:                        20:30:28   Log-Likelihood:                -126.55
No. Observations:                 201   AIC:                             263.1
Df Residuals:                     196   BIC:                             279.6
Df Model:                           4
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     -0.0767      0.067     -1.147      0.253      -0.209       0.055
EPSP                       3.5404      0.368      9.629      0.000       2.815       4.265
BookToMarketRatio         -0.1295      0.079     -1.639      0.103      -0.285       0.026
ShortFinancialLeverage    -0.6264      0.456     -1.375      0.171      -1.525       0.272
LongFinancialLeverage      0.0339      0.090      0.375      0.708      -0.144       0.212
==============================================================================
Omnibus:                       28.576   Durbin-Watson:                   2.112
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.211
Skew:                          -0.822   Prob(JB):                     6.82e-10
Kurtosis:                       4.530   Cond. No.                         17.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

Podemos observar que al momento de quitar los puntos que se calcularon al momento de realizar el calculo de leverage point y std_residuals, cambian algunas cosas notoriamente, por ejemplo, observamos que el r2 aumenta de 32% a 36%, lo que nos dice que hubo una mejoría pequeña. 

Los errores std de las variables no cambiaron mucho, se mantienen casi en el mismo valor que tenian al momento de no eliminar los outliers, el cambio mas significativo en estas la encontramos en la variable de ESPS, por lo que podemos decir que realmente no afectaba demasiado al modelo, sin embargo siendo una mejora del modelo, puede ser de utilidad tomar en cuenta.

#**Estima e interpreta un modelo de regresión múltiple después de atender los problemas anteriores. Tiene que utilizar álgebra matricial para estimar coeficientes y errores estándar del modelo de regresión, y utilizar funciones de Python para corroborar resultados.**

In [87]:
print(modelo_after_drop.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.367
Model:                            OLS   Adj. R-squared:                  0.354
Method:                 Least Squares   F-statistic:                     28.37
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           1.34e-18
Time:                        20:40:57   Log-Likelihood:                -126.55
No. Observations:                 201   AIC:                             263.1
Df Residuals:                     196   BIC:                             279.6
Df Model:                           4
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     -0.0767      0.067     -1.147      0.253      -0.209       0.055
EPSP                       3.5404      0.368      9.629      0.000       2.815       4.265
BookToMarketRatio         -0.1295      0.079     -1.639      0.103      -0.285       0.026
ShortFinancialLeverage    -0.6264      0.456     -1.375      0.171      -1.525       0.272
LongFinancialLeverage      0.0339      0.090      0.375      0.708      -0.144       0.212
==============================================================================
Omnibus:                       28.576   Durbin-Watson:                   2.112
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.211
Skew:                          -0.822   Prob(JB):                     6.82e-10
Kurtosis:                       4.530   Cond. No.                         17.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Se calculan los coeficientes con algebra matricial y se muestran igual que en resumen de la parte de arriba.

In [89]:
var_df = pd.DataFrame(data=df_commercial[var_ind])
var_df = var_df.dropna()


x = np.matrix(var_df)
x_ones = np.ones((var_df.count()['EPSP'], 1))
x = np.c_[x_ones, x]

y = np.matrix(df_commercial[var_dep])
bs = pd.DataFrame(np.linalg.inv(x.T * x) * x.T * y)
variables_df = var_ind + ["const"]
bs.index = variables_df
bs

                               0
EPSP                   -0.076688
BookToMarketRatio       3.540356
ShortFinancialLeverage -0.129527
LongFinancialLeverage  -0.626364
const                   0.033944

In [90]:
# asi mismo se calculas los errores estandar del modelo.

errores_modelo2 = y - x * np.matrix(bs)
var_cov_error = errores_modelo2 * errores_modelo2.T
var_error = np.diag(var_cov_error)
print(np.matrix(var_error))

[[1.03643703e-01 6.48152790e-02 1.87461748e-01 1.63119967e-01
  2.95865519e-02 3.41224869e-02 1.91035456e-02 4.07658614e-03
  9.44629717e-01 1.13167235e-03 5.03306946e-01 5.91105086e-03
  6.23287571e-02 1.33198135e-01 4.72174460e-01 6.48638095e-03
  3.15968341e-01 2.86508050e-02 8.38225972e-01 4.89427830e-02
  4.02020163e-02 6.95122727e-05 4.32595082e-02 1.12000922e-01
  3.58944288e-01 2.05439551e-01 8.78064344e-04 6.84570734e-02
  2.70189134e-02 2.32773670e-01 1.86741187e-01 8.32729455e-03
  1.30027843e-01 1.47317888e-05 3.04681255e-01 1.39363359e-02
  4.19054781e-02 3.03319907e-02 2.59270931e-01 4.19622170e-01
  5.23551761e-02 1.13917264e-04 2.47141909e-01 7.90015266e-01
  4.16660967e-02 3.05022230e-01 9.11252573e-01 1.71963112e-01
  1.92506925e-01 1.71268693e-01 8.86071785e-04 1.55898048e-02
  9.12354203e-01 2.70242184e-02 1.79453504e-01 9.32808167e-02
  1.54433329e-02 1.03327763e-01 1.78857830e-01 6.95489522e-03
  6.61378140e-04 2.39438981e-01 6.83330234e-04 4.97384549e-03
  1.49176744e-01 6.29086885e-02 4.02492424e-02 1.61721801e-02
  2.41151019e-01 8.05454242e-03 1.15440539e-02 6.39573912e-02
  1.56105950e-02 1.42216908e-03 4.56255168e-02 9.69895387e-01
  3.53439372e-04 2.71139312e-02 2.98357705e-04 3.01641499e-01
  2.19612464e+00 8.89904611e-02 4.92015019e-02 3.16235072e-03
  1.19893770e+00 1.15950929e-01 5.77566346e-02 9.46661424e-02
  1.69785982e-01 1.13373497e+00 4.37666483e-02 9.80655424e-02
  5.30447983e-03 1.55660631e-01 6.52813802e-03 1.57944770e+00
  3.83500405e-03 1.57395552e-01 3.38972890e-01 1.57896479e+00
  5.99792179e-02 4.62342308e-02 2.69406241e-03 3.14197066e-02
  6.27788093e-02 1.90478132e-02 6.45403392e-02 2.36510679e-02
  2.08482392e-02 1.98335375e-02 1.82068850e-01 1.32770895e-02
  3.81377906e-02 2.59823054e-01 1.25452174e+00 1.33585264e-01
  1.79396459e-01 1.18879932e-01 8.50952094e-03 9.11592606e-02
  5.07174900e-02 1.09757320e-01 5.56245584e-02 9.22673706e-04
  1.65965535e-02 1.26710525e-02 3.69457562e-01 4.53194942e-02
  3.39149362e-02 1.16008231e-01 8.97850794e-02 6.59352476e-02
  1.75877431e-02 6.99629801e-02 3.84313922e-02 6.44954676e-05
  7.71600401e-02 4.29883396e-02 6.67020290e-02 9.57256537e-01
  4.15690907e-01 1.03726578e-02 9.80997696e-03 2.83937593e-01
  6.14033156e-01 6.63519302e-01 1.01137403e-02 4.08053989e-02
  3.55231961e-02 4.12390870e-02 6.20660286e-02 2.00020351e-01
  6.32725572e-04 5.64572050e-02 9.21611631e-02 1.58828451e-03
  9.46807872e-02 1.81911942e+00 5.09778328e-02 2.78940967e-01
  1.88228291e-02 1.37080901e-03 3.04312341e-03 9.27694016e-02
  4.69687527e-01 3.51435919e-01 2.16447217e-02 4.66166629e-01
  7.89714670e-01 3.34117160e-02 1.31714849e-02 2.21713405e-02
  1.15680672e-04 2.48185024e-05 1.31298764e-01 9.92346857e-02
  9.27388803e-02 1.70014667e-01 6.33940887e-02 1.60434488e-02
  3.32058639e-03 4.77954571e-02 3.39908624e-02 2.01832383e-03
  1.78296793e-01 6.44683069e-01 1.25693252e+00 8.52114609e-01
  2.43768995e-03 2.07191467e-01 9.51018691e-02 6.95716246e-02
  2.76861936e+00 1.56889930e-01 1.36935041e-01 3.55439352e-02
  4.59667899e-02 6.72759623e-02 1.62177008e-01 2.99887525e-02
  9.78684687e-03]]